/* Flex bar, row wrap, space-evenly */ 
.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	background: grey;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}
/* He doesn't like the hover because of mobile, but I thought it was nice to add in here */ 
.navigation a:hover {
	background: black;
}

/* Changing the nav bar with on smaller screens, minimized, etc. */ 
@media all and (max-width: 800px) {
	.navigation {
		flex-flow: column wrap;
		padding: 0;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		flex-flow: column wrap;
		padding: 0;

	}
}
/* The Karla font that's used during light mode */ 
* {
	font-family: 'Karla', sans-serif;
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
    font-family: 'IBM Plex Mono', monospace;
}